@model IEnumerable<hienv_asp.Models.Language>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers  
@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";

}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>@ViewData["Title"]</h1>
            </div>
            <div class="col-sm-6 text-right">
                <a asp-controller="Languages" asp-area="Admin" asp-action="Create" data-bs-toggle="tooltip" title="" class="btn btn-primary" data-bs-original-title="Add New" aria-label="Add New"><i class="fas fa-plus"></i></a>
                <button type="button" data-toggle="tooltip" title="" class="btn btn-danger btn-delete-country" data-original-title="Delete" disabled><i class="fas fa-trash"></i></button>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Category List</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div id="example2_wrapper" class="dataTables_wrapper dt-bootstrap4">
                            <div class="row">
                                <div class="col-sm-12 col-md-6"></div>
                                <div class="col-sm-12 col-md-6"></div>
                            </div>
                                <div class="row">
                                <div class="col-sm-12">
                                    <table id="example2" class="table table-bordered table-hover dataTable dtr-inline" aria-describedby="example2_info">
                                        <thead>
                                            <tr>
                                                <th class="text-center sorting sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="ascending" aria-label=""><input type="checkbox" onclick="$('input[name*=\'selected-country\']').prop('checked', $(this).prop('checked'));" class="check-all-country"></th>
                                                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="">Language Name</th>
                                                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Code">Code</th>
                                                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Sort Order">Sort Order</th>
                                                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if(Model.Count() > 0)
                                            {
                                                @foreach (var item in Model)
                                                {
                                                    <tr class="odd">
                                                        <td class="text-center dtr-control sorting_1" tabindex="0">
                                                            <input type="checkbox" name="selected-country" value="@item.language_id" class="checkbox-country">
                                                        </td>
                                                        <td>@item.name</td>
                                                        <td>@item.code</td>
                                                        <td>@item.sort_order</td>
                                                        <td><a asp-controller="Languages" asp-area="Admin" asp-action="Edit" asp-route-id="@item.language_id" class="btn btn-primary"><i class="fas fa-pencil-alt"></i></a></td>
                                                    </tr>
                                                }
                                            } else
                                            {
                                                <tr>
                                                    <td class="text-center" colspan="5">No results!</td>
                                                </tr>
                                            }
                                        </tbody>
                                        <tfoot>

                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
</section>

@section Scripts{
    <script src="~/js/country.js"></script>
}